.btn {
    display: inline-block;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    position: relative;
    padding: 0.625rem;
    font-size: 0.875rem;
    border-radius: 0.5rem;
    background-color: $c-main;
    color: $c-white;
    cursor: pointer;
    transition: background-color $t-duration;
    @include breakpoint-down(mobile) {
      padding: 0.4rem;
      aspect-ratio: 1/1;
    }
    &.btn--inactive {
      background-color: $c-main-light;
      pointer-events: none;
      &:hover {
        cursor: default;
      }
    }
    &.btn--white {
      background-color: $c-white;
      color: $c-black-blue;
      border: .5px solid $c-main;
      &:hover {
        background-color: $c-main-light;
        color: $c-white;
      }
    }
    &.btn--pink {
        background-color: $c-pink;
        color: $c-white;
        &:hover {
            background-color: $c-pink-light;
        }
    }
    &.btn--big {
        width: 100%;
        border-radius: 5px;
    }
  
    &:hover {
      background-color: $c-main-light;
    }
  
    &:active {
      transform: scale(0.95);
    }

    img {
      vertical-align: middle;
      margin-right: 0.625rem;
      @include breakpoint-down(mobile) {
        margin: 0;
      }
    }

    span {
      vertical-align: middle;
      @include breakpoint-down(mobile) {
        display: none;
      }
    }
  }

  .row {
    display: flex;
  }

  .form {
    h5 {
        margin-bottom: 1rem;
    }

    label {
        display: block;
        font-weight: 500;
        margin-bottom: 0.625rem;
        opacity: .65;
    }

    .input {
        width: 100%;
        max-width: 31.25rem;
        &.small {
          width: auto;
          max-width: auto;
          @include breakpoint-down(mobile) {
            max-width: 100%;
            width: 100%;
          }
          
      }
        &.large {
            max-width: 100%;
        }
        @include breakpoint-down(mobile) {
          max-width: 100%;
          width: 100%;
        }
    }

    .inputSmall {
        max-width: 12.5rem;
        @include breakpoint-down(mobile) {
          max-width: 100%;
        }
    }

    .formGroup {
      width: 100%;
    }

    .formRow {
        display: flex;
        gap: 1.875rem;
        @include breakpoint-down(mobile) {
          flex-direction: column;
        }
    }

    .field {
        border: 2px solid $c-grey;
        border-radius: 5px;
        padding: .75rem;
        width: 100%;
        font-weight: 700;
        &:focus {
            outline: none;
            border: 2px solid $c-main;
        }
    }

    .photoField {
        display: flex;
        align-items: center;
        justify-content: center;
        border: .5px dashed $c-grey;
        border-radius: 5px;
        padding: 1.25rem;
        width: 100%;
        cursor: pointer;
        &:focus {
            outline: none;
            border: .5px dashed $c-main;
        }
    }

    .photoBtn {
        width: 12.5rem;
        height: 2.625rem;
        font-weight: 800;
        color: $c-main;
        background-color: $c-white;
        border: 2px dashed $c-main-light;
        &:hover {
            background-color: $c-main-light;
            border-color: $c-main;
        }
        &.active {
            border: .5px solid $c-main;
        }
        @include breakpoint-down(mobile) {
   
          @include flexCenter;
         }

        input {
            display: none;
        }
    }

    
}

.buttons {
  display: flex;
  gap: 1.875rem;
}